body{
    background-attachment: fixed;
}
#myhead{
    position: relative;
    font-size: 60px;
    }
    @media (max-width: 768px) {
      .container {
        width: 80%;
        margin: 0 auto;
      }
      /* img{
        width:  80%;
      } */
    }
    
    /* Styles for smaller screens */
    @media (max-width: 480px) {
      .container {
        width: 100%;
        margin: 0 auto;
      }
    }
      #DATASC{
        width:100% ;
        
      }
    #arc{
      width: 100%;
    }
    #merchant{
        width: 100%;
    }
    